<footer class="footer">
    <div class="container">

        <p class="text-center">
            <!-- {{ site.title }} {{ site.time | date: '%Y' }} | -->
            江西匀晶光电技术有限公司 | E-mail:unicrystal@163.com
        </p>
        <p class="text-center">
            <!-- {{ site.title }} {{ site.time | date: '%Y' }} | -->
            地址: 江西九江市长城路121号恒盛科技园 332000
        </p>
        <p class="text-center">
            <!-- {{ site.title }} {{ site.time | date: '%Y' }} | -->
            联系电话: 0792-8385612 15870870572
        </p>
        <p class="text-center">
            <!-- {{ site.title }} {{ site.time | date: '%Y' }} | -->
            QQ: 2321550542
        </p>
    </div>
</footer>
